/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #F2F2F7;
}
/*Fonts*/
@font-face {
  font-family: Roboto-regular;
  src: url(/public/fonts/RobotoMono-Regular.ttf);
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 35%;
  min-width: 35%;
  min-height: 448px;
  background: #fff;
  text-align: center;
  margin: 128px auto;
  border-radius: 8px;
  padding: 24px;
}

.todo-app.auth {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 40%;
  min-width: 40%;
  min-height: 280px;
  background: #fff;
  text-align: center;
  margin: 128px auto;
  border-radius: 8px;
  padding: 24px 24px 24px 24px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
}

.todo-form {
  background: #F2F2F7;
  border-radius: 8px;
  padding: 16px;
  margin-top: 24px;
}

.todo-input {
  padding: 12px;
  outline: none;
  background: #fff;
  color: #fff;
  border-radius: 4px;
  max-height: 48px;
}
.todo-input[type=text]:not(.date-wrapper):not(.credentials-input) {
  max-width: 49%;
  min-width: 49%;
}
.todo-input[type=text]:not(.date-wrapper).credentials-input,
.todo-input[type=email]:not(.date-wrapper).credentials-input {
  width: 100%;
}
.input-container {
  width: 49%;
}
.todo-input[type=password] {
  width: 100%;
}
.todo-input.edit[type=text] {
  max-width: 50%;
  min-width: 50%;
}
.date-wrapper {
  max-width: 32%;
  min-width: 32%;
  position: relative;
  border-radius: 4px;
}
.date-wrapper input {
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 4px;
}
.date-wrapper:after {
  content:'';
  display:block;
  background:url('/public/arrow_drop_down_24px.svg') no-repeat;
  position:absolute;
  padding: 5px;
  right: 15px;
  top: 15px;
  transform:translateY(5px);
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  max-height: 48px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  background: #3A85F7;
  color: #fff;
  text-transform: capitalize;
  min-width: 88px;
  font-weight: bold;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.edit-input {
  width: 100%;
  margin-left: 18px;
  margin-bottom: 1px;
  height: 100%;
  padding-left: 10px;
  padding-right: 5px;
  color: #2B2B2B;
}
.edit-input:focus {
  outline: none !important;
  border: 0px;
}

.todo-dates-container {
  border-radius: 8px;
  padding: 16px;
  margin-top: 15px;
}
.roboto-regular {
  font-family: Roboto-regular;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto 14px auto;
  color: #3A85F7;
  background: #fff;
  padding: 16px;
  border-radius: 5px;
}
.todo-row label {
  font-size: 16px;
}

.todo-row:last-child {
  margin-bottom: 4px;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-action {
  color: #EB445A;
  font-weight: 600;
  cursor: pointer;
}

.edit-action {
  margin-right: 20px;
  color: #3A85F7;
  font-weight: 600;
  cursor: pointer;
}

.back-btn {
  display: flex;
  border: 1px solid #F2F2F7;
  border-radius: 4px;
  padding: 18px;
  align-items: center;
  justify-content: space-between;
  min-width: 122px;
  height: 48px;
  color: #2B2B2B;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

/*Checkbox styles*/
/* The container */
.ch-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
  max-width: max-content;
  min-height: 24px;
}

/* Hide the browser's default checkbox */
.ch-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 1px solid #eee;
}

/* On mouse-over, add a grey background color */
.ch-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.ch-container input:checked ~ .checkmark {
  background-color: #68CD67;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.ch-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.ch-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Media rules*/
@media only screen and (max-width: 1790px) {
  .todo-app {
      max-width: 40%;
      min-width: 40%;
  }
}
@media only screen and (max-width: 1600px) {
  .todo-app {
      max-width: 45%;
      min-width: 45%;
  }
}
@media only screen and (max-width: 1500px) {
  .todo-app {
      max-width: 50%;
      min-width: 50%;
  }
}
@media only screen and (max-width: 1350px) {
  .todo-app {
      max-width: 65%;
      min-width: 65%;
  }
}
@media only screen and (max-width: 992px) {
  .todo-app {
      max-width: 85%;
      min-width: 85%;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
